* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #020c2cf5;
}

/* create a flex container for the header, main, and footer elements */

header, main, footer {
    display: flex;
    width: 85%;
    margin: 20px auto;
    justify-content: space-between;
}

/* create even space in the header and the footer navs */

nav {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

nav a {
    border-left: solid 1px rgb(255, 255, 255);
    justify-content: center;
    align-content: center;
    padding-left: 15px;
    text-decoration: none;
    color: black;
    width: 100%;
}

/* nav a:hover {
     background-color: #ff16b9f5;
     color: white;
} */

.black {
    text-shadow: 0 0 8px white;
}

.hover-pink:hover {
    background:linear-gradient(to right, #ff0a9d, #f37d0e);
    color: white;
}

.hover-green:hover {
    background:linear-gradient(to right, #faf500, #63b407);
    color: black;
}

.hover-blue:hover {
    background:linear-gradient(to right, #2196f3, #9114f8);
    color: white;
}

/* .hover-blue:hover {
    background-color: #0074d3;
    color: white;
} */

aside {
    width: 20%;
}

aside p {
    margin: 20px 20px 20px 0px;
}

.faze {
    width: 80%;
    height: auto;
    filter: grayscale(100%); 
    transition:.35s;
    box-shadow: 2px 2px 10px black;
}

.faze:hover {
    filter: none;
}

article {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.project {
    filter: grayscale(100%);
    background-size: cover;
    min-width: 300px;
    min-height: 300px;
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    transition: 1s;
}

.project:first-child {
    width: 99.9%;
    background-position: center;
}

.project:hover {
    filter: none;
}

.project p {
    color: white;
    text-shadow: 0px 0px 20px black;
    font-size: 25px;
}

project a {
    padding: 200px;
    text-decoration: none;  
}

/* individual project background images */

#history {
    background-image: url('../images/8-tim-berners-lee.jpg');
}

#theater {
    background-image: url('../images/forest.jpeg');
}

#chili {
    background-image: url('../Capener_Karina_ChiliRecipe/hero.jpg');
}

#cascades {
    background-image: url('../images/cascade_mountains-bg.jpg');
}

#images {
    background-image: url('../images/rave-24.png');
}

#fluid {
    background-image: url('../images/bruce-lee.jpg');
}

#disco {
    background-image: url('../images/rave01.jpg');
}

#orcas {
    background-image: url('../images/SJ/sj-001.jpg');
}

#lopez {
    background-image: url('../images/SJ/sj-002.jpg');
}

#history-refactor {
    background-image: url('../images/cascade_mountains-bg.jpg');
}

#grids {
    background-image: url('../images/grid-project-images/cd.jpg');
}