* {
    box-sizing: border-box
}

body {
    margin:0px;
    padding:0px;
}

.page-title p {
    font-size: 22px;
    margin:8px;
}

.hamish {
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
}

.hamish ul {
    display: flex;
    flex-wrap:wrap;
}

.hamish li {
    list-style: none;
    margin: 5px;
}

.hamish a {
    text-decoration: none;
    color:white;
    padding:10px;
    margin:5px;
    border-radius:5px;
    font-size:16px;
    font-weight:bold;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    transition:background-color 0.3s

}

.hamish a:hover {
    background-color: rgb(156, 156, 156);
    color: #333;
}